[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
# The separation of dev and production
# packages is not strictly needed in this
# case but it is good hygiene.

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"

[packages]
docker = "*"
psycopg2-binary = "*"
PyYAML = "*"
requests = "*"
python-dateutil = "*"

[requires]
python_version = "3.8"
